<?xml version="1.0" encoding="UTF-8"?>  
    <beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:tx="http://www.springframework.org/schema/tx" 
        xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		">  
         
    <!--*****************************************
     *@BeanName:          propertyConfigurer
     *@Description:          处理配置文件
     *@Inject:                   locations
     ********************************************-->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
	      <list>
		    <value>classpath:hibernate.properties</value>
	       </list>
		</property>
    </bean>

    <!--*****************************************
         *@BeanName:          dataSource
         *@Description:          数据源
         *@Inject:                   driverClassName
         *@Inject:                   url
         *@Inject:                   username
         *@Inject:                   password
         ********************************************-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}">
        </property>
        <property name="url" value="${jdbc.url}">
        </property>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--*****************************************
     *@BeanName:          sessionFactory
     *@Description:          Hibernate会话工厂
     *@Inject:                   dataSource
     *@Inject:                   hibernateProperties
     *@Inject:                   packagesToScan
     ********************************************-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.debug}</prop>
                <prop key="hibernate.format_sql">${hibernate.format}</prop>
                <prop key="current_session_context_class">thread</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
            	<value>${entity.packagesToScan}</value>
                <value>com.fanfan.system.entity</value>
            </list>
        </property>
    </bean>
    <!--配置事务管理器-->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--使用基于注解方式配置事务 -->
    <tx:annotation-driven transaction-manager="txManager"/>
    
  </beans>  